body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#gameContainer { 
  width: 100%; 
  height: 100%;
  position: absolute;
  left: 0;
  top:0;
  display:flex;
}

.room_container {
  width: 100%; 
  height: 100%;
}

#background {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background2 {
  position: absolute;
  top: 0;
  left: 100vw;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

 #background_img {
    height: 100vh;
    width: 100vw;
 }

 .itemsContainer {
    position: absolute;
    top: 48vh;
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
   }


.itemsContainer img {
   width: 100%;
   height: auto;
 }

 .itemContainer1 {
   left: 7.5vw;
 }

 .itemContainer2 {
   left: 27.5vw;
 }

 .itemContainer3 {
   left: 50.5vw;
 }

 .itemContainer4 {
   left: 72.5vw;
 }

 
 .itemContainer5 {
   left: 87.5vw;
 }

 
 .itemContainer6 {
  left: 100vw;
}

.itemContainer7 {
  left: 125vw;
}

.itemContainer8 {
  left: 150vw;
}

.itemContainer9 {
  left: 175vw;
}


.itemContainer10 {
  left: 200vw;
}

 
.itemContainer11 {
  left: 225vw;
}

.itemContainer12 {
  left: 250vw;
}

.itemContainer13 {
  left: 275vw;
}

.itemContainer14 {
  left: 300vw;
}


.itemContainer15 {
  left: 325vw;
}

 #hero {
  height: 50vh;
  aspect-ratio: 1/1;
  position: absolute;
  top: 32vh;
  left: 35vw;
  display:flex;
  align-items: flex-end;
  z-index: 2;
}


#heroImg {
  height: 80%;
  width: auto;
}


#menu {
  position: absolute;
  top: 30vh;
  left: 35vw;
  background: brown;
  opacity: 0.95;
  z-index: 1000;
  height: 60vh;
  aspect-ratio: 4/3;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#menuA{
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menuA input {
  height: 80%;
  width: 90%;
  border: none;
  background: none;
  color: white;
  font-size: large;
  outline: none;
}


#menuB {
  height: 70%;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: scroll;
  overflow-x: hidden;
}
.menu_item_container{
  width: 25%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_item {
  width: 80%;
  aspect-ratio: 1/1;
  border: solid 1px;
  background: rgb(136, 59, 59);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_item img{
   width: 80%; 
   height: auto;
   cursor: pointer;
  }
